body {
    font-family: Arial, sans-serif;
}

form {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 12px #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type="email"],
input[type="submit"] {
    display: block;
    width: 400px;
    padding: 10px;
    margin: 10px 0;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}