<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Marvel Card Masters</title>
    <link rel="stylesheet" href="../styles/game.css" />
</head>

<body>
    <div id="loading-container">
        <a class="back" href="/" style="color: red;">Nazad</a>
        <div id="waiting_for_opponent" style="display: none; color: white;">
            WAITING FOR OPPONENT
        </div>
        <div id="opponent_login" style="display: none; color: white;">
            Your opponent: <span id="opponent"></span>
        </div>
        <div id="opponent_disconnected" style="display: none; color: white;">
            Your opponent disconnected
            <a class="back" href="/">Nazad poshli</a>
        </div>
    </div>

    <div id="game_board" style="display: none">
        <div class="board_bg"></div>
        <div class="about_players">
            <div class="about_player">
                <div class="my_properties">
                    <div class="mana_circle">
                        <div id="my-mana" style="color: rgb(50, 50, 251);"></div>
                        <div style="width: 100px; height: 100px;"></div>
                    </div>
                    <div class="hp_circle">
                        <div id="my-hp" style="color: rgb(219, 48, 48);"></div>
                        <div style="width: 100px; height: 100px;"></div>
                    </div>
                </div>
                <div class="my_info">
                    <div id="my-name"></div>
                    <img id="my-portrait" />
                    < </div>
                </div>
                <div class="about_opponent">
                    <div class="mana_circle">
                        <div id="enemy-mana" style="color: rgb(50, 50, 251);"></div>
                        <div style="width: 100px; height: 100px;"></div>
                    </div>
                    <div class="hp_circle">
                        <div id="enemy-hp" style="color: rgb(219, 48, 48);"></div>
                        <div style="width: 100px; height: 100px;"></div>
                    </div>
                    <div class="opponent_info">
                        <div id="enemy-name"></div>
                        <img id="enemy-portrait" />
                    </div>
                </div>
            </div>
            <div class="game_info">
                <div id="timer"></div>
                <div id="turn_nickname"></div>
            </div>
            <div id="enemy-cards"></div>
            <div class="center">
                <div class="card-deck-container">
                    <div class="card-deck_image-container">
                        <img src="../images/card-back.png" id="card-deck" alt="Back of Card" />
                    </div>
                </div>
                <button id="pass_btn" class="button" onclick="passOnClick()">Done</button>
            </div>
            <div id="cards"></div>
        </div>

        <div id="game_over" style="display: none">
            <div class="game_over-container">
                <h1 id="game_over_message"></h1>
                <a href="/" class="back-link">Go nazad</a>
            </div>
        </div>

        <!-- Scripts -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="/game.js"></script>
    </div>
</body>

</html>