<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Marvel Card Masters - Login</title>
  <link rel="stylesheet" href="../styles/autorization.css" />
</head>

<body>
  <div class="container">
    <div class="login-box">
      <div class="login-container">
        <form name="form" class="form">
          <h1>Log in</h1>
          <div class="form-section">
            <input class="input" required type="text" name="login" placeholder="Login" size="20" />
          </div>
          <div class="form-section">
            <input class="input" required type="password" name="password" placeholder="Password" size="20" />
          </div>
          <input id="regButton" type="button" value="Log In" onclick="sendData()" class="button" />
          <p id="error"></p>
          <span class="reminder">You don't have an account? <a href="/registration">Sign up</a></span>
        </form>
        <div>
        </div>
      </div>
      <script>
        function sendData() {
          const login = document.form.login.value;
          const password = document.form.password.value;

          const body = JSON.stringify({
            login: login,
            password: password,
          });

          const xhr = new XMLHttpRequest();
          xhr.open("POST", "/login");
          xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");

          xhr.onload = () => {
            if (xhr.readyState == 4 && (xhr.status == 201 || xhr.status == 200)) {
              response = JSON.parse(xhr.response);
              console.log(response);
              if (response.status != "OK") {
                document.getElementById("error").innerHTML = response.message;
              } else {
                document.location.href = "/";
              }
            } else {
              console.log(`Error: ${xhr.status}`);
            }
          };
          xhr.send(body);
        }
      </script>
</body>

</html>