<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reminder</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Password Reminder</h1>
    <form id="reminderForm">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Send Reminder</button>
    </form>
    <a href="/">Ne, ya vsetaki pomnu vrode parol</a>
    <a href="/register">Bla, ladno, davai noviy akk prosto sdelayem</a>
    <div id="reminderError" style="display: none; color: red;"></div>

    <script>
        document.getElementById("reminderForm").addEventListener("submit", async function (event) {
            event.preventDefault();
            const email = document.getElementById("email").value;

            const response = await fetch('/password-reminder', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ email })
            });

            const result = await response.json();
            if (result.success) {
                alert("Password reminder sent to your email.");
            } else {
                const errorDiv = document.getElementById("reminderError");
                errorDiv.innerText = result.message;
                errorDiv.style.display = "block";
            }
        });
    </script>
</body>

</html>